/* General Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Nunito', sans-serif;
    color: white;
}

/* header and background */
body{
background-image: linear-gradient(to right, #7f8c8d,#000000);
}
body h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 55px;
    text-decoration: none;
}

/* Buttons */
.filter{
   float: right;
   margin-right: 2%;
   font-size: 30px;
}
button{
background: none;
border: none;
cursor: pointer;
}
.mainResultsInfo .fa-heart:active{
color: rgb(234, 46, 77);
}    
.mainResultsInfo .fa-heart:focus{
color: rgb(234, 46, 77);
}

/* mainCard design for individual results */
.hero{
    border-radius: 15px;
    border:solid white;
    position:relative;
    padding: 20px;
    width: 250px;
    height: 250px;
    display: grid;

}
.card .mainResultsInfo .resultsImg{
    z-index:0;
    width: 250px;
    height: 250px;
    display: none;
}
.card .mainResultsInfo .layer .resultsTitle{
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1%;
    text-decoration: underline;
}
.layer{
    width: 250px;
    height: 0;
    background: linear-gradient(rgba(66, 62, 62, 0.6),#01b4b4);
    border-radius: 10px;
    position:absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    z-index: 1;
    text-align: center;
    transition: height 0.5s;
}
.card:hover .mainResultsInfo .hero .layer{
    height: 250px;
}
