/* General Styling */
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Nunito', sans-serif;
}

/* header and background */
body{
background-image: linear-gradient(to right, #7f8c8d,#000000);
}
body h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 55px;
    text-decoration: none;
}

/* Buttons */
.filter{
   float: right;
   margin-right: 2%;
   font-size: 30px;
}
button{
background: none;
border: none;
cursor: pointer;
}
.mainResultsInfo .hero .layer .resultsBtn{
    display: flex;
}
.mainResultsInfo .hero .layer button{
    display: inline-block;
    justify-content: space-evenly;
    border-radius: 50%;
    padding: 10px;
    background-color: #fff;
    color: #01b4b4;
    text-align: center;
}


/* mainCard design for individual results */
.hero{
    border-radius: 15px;
    border:solid white;
    position:relative;
    left: 15px;
    padding: 20px;
    width: 300px;
    height: 275px;
    display: grid;

}
.card .mainResultsInfo .resultsImg{
    position: absolute;
    object-fit: cover;
    
    /* display: none; */
}
.card .mainResultsInfo .layer .resultsTitle{
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    text-decoration: underline;
}
.layer{
    width: 300px;
    height: 0;
    background: linear-gradient(rgba(66, 62, 62, 0.6),#01b4b4);
    border-radius: 15px;
    position:absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.3s;
}
.card:hover .mainResultsInfo .hero .layer{
    height: 275px;
}
